@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Unique';
  src: url('/assets/ui/font_unique.ttf') format('truetype');
}

.unique {
  font-family: 'Unique', sans-serif;
}
